# Applied Data Science Capstone

The **Applied Data Science Capstone** project aims to create a classification model, using Machine Learning algorithms, able to predict the severity of accidents. The model will be built, trained and tested, using data from the *Seattle Police Department (SPD)*, and the *Seattle Department of Transportation (SDOT)*. Data has been collected from 2004.

**Applied Data Science Capstone** is part of <a href='https://www.coursera.org/professional-certificates/ibm-data-science'>IBM Data Science Professional Certificate</a> program.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Preliminary Analysis

In [3]:
data_collisions = pd.read_csv(r'C:\Users\HP\Desktop\COURSERA\IBM Data Science Professional Certificate\9_Applied Data Science Capstone\Data-Collisions.csv')
data_collisions.head()

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
data_collisions.shape

(194673, 38)

In [5]:
data_collisions['SEVERITYCODE'].nunique(dropna=True)

2

Accidents are labelled severity wise using only 2 labels - Classification is binary

In [6]:
data_collisions['OBJECTID'].nunique(dropna=True)

194673

In [7]:
data_collisions['INCKEY'].nunique(dropna=True)

194673

In [8]:
data_collisions['COLDETKEY'].nunique(dropna=True)

194673

 OBJECTID, INCKEY, and COLDETKEY are all unique identifiers/keys for the incidents

In [9]:
data_collisions['INCKEY'] == data_collisions['COLDETKEY']

0          True
1          True
2          True
3          True
4          True
          ...
194668    False
194669    False
194670    False
194671    False
194672    False
Length: 194673, dtype: bool

In [10]:
sum(data_collisions['INCKEY'] == data_collisions['COLDETKEY'])

116199

In [11]:
data_collisions.tail()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
194668,2,-122.290826,47.565408,219543,309534,310814,E871089,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
194669,1,-122.344526,47.690924,219544,309085,310365,E876731,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
194670,2,-122.306689,47.683047,219545,311280,312640,3809984,Matched,Intersection,24760.0,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
194671,2,-122.355317,47.678734,219546,309514,310794,3810083,Matched,Intersection,24349.0,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
194672,1,-122.289360,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

INCKEY	and COLDETKEY are not equal

In [12]:
data_collisions['ADDRTYPE'].value_counts()

Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

In [13]:
data_collisions['INTKEY'].value_counts()

29973.0    252
29933.0    160
29913.0    138
29549.0    136
33512.0    128
          ...
36825.0      1
26604.0      1
26603.0      1
36816.0      1
27793.0      1
Name: INTKEY, Length: 7614, dtype: int64

In [14]:
data_collisions['INTKEY'].count()

65070

In [15]:
data_collisions['INTKEY'].nunique(dropna=True)

7614

INTKEY corresponds to a key referencing the intersection associated with a collision

In [16]:
data_collisions['EXCEPTRSNCODE'].count()

84811

In [17]:
data_collisions['EXCEPTRSNCODE'].value_counts()

       79173
NEI     5638
Name: EXCEPTRSNCODE, dtype: int64

In [18]:
data_collisions['EXCEPTRSNDESC'].value_counts()

Not Enough Information, or Insufficient Location Information    5638
Name: EXCEPTRSNDESC, dtype: int64

Columns EXCEPTRSNCODE and EXCEPTRSNDESC do not contain any useful or relevant information

In [19]:
data_collisions['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

In [20]:
print('Total number of empty inputs in "SEVERITYCODE":',sum(data_collisions['SEVERITYCODE'].isnull()))

Total number of empty inputs in "SEVERITYCODE": 0

In [21]:
data_collisions['SEVERITYDESC'].nunique(dropna=True)

2

In [22]:
data_collisions['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136485
Injury Collision                   58188
Name: SEVERITYDESC, dtype: int64

#### SEVERITYDESC - description of severity classification labels:

* __1 -> Property Damage Only Collision__
* __2 -> Injury Collision__

In [23]:
data_collisions['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

* PERSONCOUNT: The total number of people involved in the collision.
* PEDCOUNT: The number of pedestrians involved in the collision.
* PEDCYLCOUNT: The number of bicycles involved in the collision.
* VEHCOUNT: The number of vehicles involved in the collision.
* INCDATE: The date of the incident.
* INCDTTM: The date and time of the incident.

In [24]:
data_collisions['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

* SDOT_COLCODE: A code given to the collision by SDOT.
* SDOT_COLDESC: A description of the collision corresponding to the collision code.

In [25]:
print(data_collisions['SDOT_COLCODE'].nunique(dropna=True))
print(data_collisions['SDOT_COLDESC'].nunique(dropna=True))

39
39

In [26]:
#INATTENTIONIND: Whether or not collision was due to inattention. (Y/N) 
data_collisions['INATTENTIONIND'].value_counts()

Y    29805
Name: INATTENTIONIND, dtype: int64

In [27]:
data_collisions['UNDERINFL'].value_counts()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

* INATTENTIONIN: Whether or not collision was due to inattention (Y/N).
* UNDERINFL: Whether or not a driver involved was under the influence of drugs or alcohol.

In [28]:
data_collisions['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

In [29]:
data_collisions['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [30]:
print('Total number of empty inputs in "ROADCOND":',sum(data_collisions['ROADCOND'].isnull()))

Total number of empty inputs in "ROADCOND": 5012

In [31]:
data_collisions['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

In [32]:
data_collisions['PEDROWNOTGRNT'].value_counts()
#PEDROWNOTGRNT: Whether or not the pedestrian right of way was granted. (Y/N)

Y    4667
Name: PEDROWNOTGRNT, dtype: int64

In [33]:
#SDOTCOLNUM: A number given to the collision by SDOT. 
data_collisions['SDOTCOLNUM'].nunique(dropna=True)

114932

In [34]:
#SPEEDING: Whether or not speeding was a factor in the collision. (Y/N) 
data_collisions['SPEEDING'].value_counts()

Y    9333
Name: SPEEDING, dtype: int64

In [35]:
#ST_COLCODE: A code provided by the state that describes the collision.
#For more information about these codes, please see the State Collision Code Dictionary.

#ST_COLDESC: A description that corresponds to the stateâ€™s coding designation.
print('Number of "collision description codes":',data_collisions['ST_COLCODE'].nunique(dropna=True))
print('Number of collision descriptions:',data_collisions['ST_COLDESC'].nunique(dropna=True))

Number of "collision description codes": 115
Number of collision descriptions: 62

In [36]:
data_collisions[['ST_COLCODE','ST_COLDESC']]

       ST_COLCODE                                         ST_COLDESC
0              10                                  Entering at angle
1              11  From same direction - both going straight - bo...
2              32                             One parked--one moving
3              23                   From same direction - all others
4              10                                  Entering at angle
...           ...                                                ...
194668         24    From opposite direction - both moving - head-on
194669         13  From same direction - both going straight - bo...
194670         28  From opposite direction - one left turn - one ...
194671          5                       Vehicle Strikes Pedalcyclist
194672         14  From same direction - both going straight - on...

[194673 rows x 2 columns]

In [37]:
#HITPARKEDCAR: Whether or not the collision involved hitting a parked car. (Y/N)
data_collisions['HITPARKEDCAR'].value_counts()

N    187457
Y      7216
Name: HITPARKEDCAR, dtype: int64

* SEGLANEKEY: A key for the lane segment in which the collision occurred.
* CROSSWALKKEY: A key for the crosswalk at which the collision occurred.

In [38]:
print('Number of lane-segment-keys:',data_collisions['SEGLANEKEY'].nunique(dropna=True))
print('Number of crosswalk-keys:',data_collisions['CROSSWALKKEY'].nunique(dropna=True))

Number of lane-segment-keys: 1955
Number of crosswalk-keys: 2198

In [39]:
data_collisions.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [40]:
#Checking sdot codes
data_collisions[data_collisions['SDOT_COLCODE'] == 13]['SDOT_COLDESC'].head()

13     MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
61     MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
74     MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
109    MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
119    MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
Name: SDOT_COLDESC, dtype: object

In [41]:
#Checking State Collision Code Dictionary 
data_collisions[data_collisions['ST_COLCODE'] == 13]['ST_COLDESC'].head()

16392    From same direction - both going straight - bo...
16460    From same direction - both going straight - bo...
16492    From same direction - both going straight - bo...
16515    From same direction - both going straight - bo...
16545    From same direction - both going straight - bo...
Name: ST_COLDESC, dtype: object

In [42]:
data_collisions.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

In [43]:
data_collisions['STATUS'].value_counts()

Matched      189786
Unmatched      4887
Name: STATUS, dtype: int64

In [49]:
#let's drop some features, before moving forward with some further analysis
feature_selection = data_collisions.drop(['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',\
                                           'SEVERITYDESC'], axis=1)
feature_selection.head(2)

,SEVERITYCODE,X,Y,STATUS,ADDRTYPE,INTKEY,LOCATION,SEVERITYCODE.1,COLLISIONTYPE,PERSONCOUNT,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,2,Angles,2,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,1,Sideswipe,2,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N